<div class="container mt-5">
  <div class="row main-content bg-success text-center">
    <div class="col-md-4 text-center company__info box">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col-md-8 col-xs-12 col-sm-12 login_form">
      <small *ngIf="f.submitted && isResetPasswordFailed" class="alert-danger">{{ errorMessage }}</small>
      <div class="alert alert-success" *ngIf="f.submitted && isSuccessful">
        New password created successfully
      </div>
      <div class="container-fluid">
        <div class="row">
          <h1 class="animate__animated animate__bounce mt-4">
            <strong>Reset your password</strong>
          </h1>
        </div>
        <div class="row">
          <form class="form-group animate__animated animate__backInDown" name="form"
            (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="row">
              <input type="password" name="password" id="password" placeholder="New password (min 8 caracters)"
                class="form__input" [(ngModel)]="form.password" required minlength="8" maxlength="20"
                #password="ngModel" />
            </div>
            <div *ngIf="password.errors && password.invalid && password.touched">
              <small class="text-danger" *ngIf="password.errors?.[ 'required'] ">Password required</small>
              <small class="text-danger" *ngIf="password.errors?.['minlength']||password.errors?.['maxlength']">Password
                should contain between 8 and 20 caracters.</small>
            </div>
            <div class="row">
              <input type="password" ngModel name="CPassword" id="CPassword" placeholder="Confirm password"
                class="form__input" required minlength="8" [(ngModel)]="form.CPassword" #CPassword="ngModel"
                [class.is-invalid]="CPassword.invalid && CPassword.touched" />
            </div>
            <div *ngIf="
                (CPassword.errors && CPassword.invalid && CPassword.touched) ||
                password.value != CPassword.value
              ">
              <small class="text-danger" *ngIf="password.errors?.[ 'required']">Required password</small>
              <small class="text-danger" [class.d-none]="
                  password.value == CPassword.value || CPassword.untouched
                ">The 2 passwords are not identical
              </small>
            </div>
            <input [disabled]="f.form.invalid" type="submit" value="Validate" class="btn-default mt-3" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>