<div class="container mt-3">
  <div class="row main-content bg-success text-center">
    <div class="col-md-4 text-center company__info box">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col-md-8 col-xs-12 col-sm-12 login_form">
      <div class="container-fluid">
        <div class="row">
          <h1 class="animate__animated animate__bounce mt-3">
            <strong>Recover password</strong>
          </h1>
        </div>
        <div class="row">
          <p class="animate__animated animate__bounce mt-3">
            You recieved an email
          </p>
        </div>
        <div class="row">
          <form class="form-group animate__animated animate__backInDown" name="form"
            (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="alert alert-success" role="alert" *ngIf="f.submitted && isSuccessful!; isForgotPasswordFailed">
              mail sent
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isForgotPasswordFailed && !isSuccessful">
              Email does not exist
            </div>

            <div class="row mt-1">
              <input type="email" id="email" placeholder="Email (ex: prenom.nom@gmail.com)" class="form__input"
                name="email" [(ngModel)]="form.email" email #email="ngModel" required
                [class.is-invalid]="email.invalid && email.touched" pattern=".+@gmail+\.com" />
              <div *ngIf="email.errors && email.invalid && email.touched">
                <small class="text-danger" *ngIf="email.errors?.['required']">Email required</small>
                <small class="text-danger" *ngIf="email.errors?.['pattern']">Invalid Email</small>
              </div>
            </div>
            <br />
            <input [disabled]="f.form.invalid" type="submit" value="Send" class="btn-default" />
          </form>
        </div>
        <div class="row mt-3">
          <p>
            <a routerLink="/login" routerLinkActive="active">Cancel</a>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>